/* CSS declarations go here */
.leftCol, .rightCol {
	height: 100%;
	width: auto;
}

.leftCol {
	float: left;
	width: auto;
}

.rightCol {
	float: right;
}

.wrap {
	width: 100%;
	margin: 0 auto;
}

.container canvas {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.container {
	background-color: black;
}

body {
	background-color: white;
}